<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBb35g507aaFPPoyWv_pg9ntml-VGqTX48</string>
	<key>GCM_SENDER_ID</key>
	<string>982485512852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dintive.ezspa</string>
	<key>PROJECT_ID</key>
	<string>dintive</string>
	<key>STORAGE_BUCKET</key>
	<string>dintive.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982485512852:ios:b782adc0461328ca383a81</string>
	<key>DATABASE_URL</key>
	<string>https://dintive-default-rtdb.firebaseio.com</string>
</dict>
</plist>